# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# hosts file always be normalized on checkin.
hosts text

# Always be normalized to LF line endings on checkin and converted files
# to native line endings on checkout.
*.md text
*.yml text
*.sh text
Hindent text
lhosts text

# Don't modify binary files.
*.zip binary
